SDDH_Console/Connected Services/CdiscountService/MarketplaceAPIService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Cdiscount.Service.Marketplace.API.External.Contract.Data.Mail" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Cdiscount.Service.Marketplace.API.External.Contract.Data.Mail" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://wsvc.cdiscount.com/MarketplaceAPIService.svc?xsd=xsd0" namespace="http://www.cdiscount.com" />
  <xs:complexType name="DiscussionMailGuidCreationRequestMessage">
    <xs:sequence>
      <xs:element minOccurs="0" name="ScopusId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DiscussionMailGuidCreationRequestMessage" nillable="true" type="tns:DiscussionMailGuidCreationRequestMessage" />
  <xs:complexType name="DiscussionMailGuidCreationResultMessage">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://www.cdiscount.com" base="q1:ServiceBaseAPIMessage">
        <xs:sequence>
          <xs:element minOccurs="0" name="MailGuid" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DiscussionMailGuidCreationResultMessage" nillable="true" type="tns:DiscussionMailGuidCreationResultMessage" />
</xs:schema>